<script src="/js/js/alterarCliente.js" defer></script>
<div class="container">
    <h1 id="titulo">Cadastrar Pessoa Física</h1>
    <div id="form">
        <input type="hidden" value="<%=cliente.tipo%>" id="tipo">
        <input type="hidden" value="<%=cliente.id%>" id="id">
        <div class="form-floating mb-3">
            <input value="<%=cliente.nome%>" type="text" class="form-control" id="nomeval" placeholder=" " maxlength="100">
            <label for="nome">Nome:</label>
            <p id="erro-nome" class="erro"></p>
        </div>
        <div class="form-floating mb-3">
            <input value="<%=cliente.telefone%>" type="text" class="form-control" id="telefoneval" placeholder=" " maxlength="11">
            <label for="telefone">Telefone:</label>
            <p id="erro-telefone" class="erro"></p>
        </div>
        <div class="form-floating mb-3">
            <input value="<%=cliente.cpf%>" type="text" class="form-control" id="cpfval" placeholder=" " maxlength="11">
            <label for="cpf">CPF:</label>
            <p id="erro-cpf" class="erro"></p>
        </div>
        <div class="form-floating mb-3">
            <input value="<%=cliente.cnpj%>" type="text" class="form-control" id="cnpjval" placeholder=" " maxlength="14">
            <label for="cnpj">CNPJ:</label>
            <p id="erro-cnpj" class="erro"></p>
        </div>
        <div class="form-floating mb-3">
            <input value="<%=cliente.email%>" type="text" class="form-control" id="emailval" placeholder=" " maxlength="100">
            <label for="email">Email:</label>
            <p id="erro-email" class="erro"></p>
        </div>
        <div class="form-floating mb-3">
            <input value="<%=cliente.senha%>" type="password" class="form-control" id="senhaval" placeholder=" " maxlength="30">
            <label for="senha">Senha:</label>
            <p id="erro-senha" class="erro"></p>
        </div>
        <div class="form-floating mb-3">
            <input value="<%=cliente.senha%>" type="password" class="form-control" id="senha2val" placeholder=" " maxlength="30">
            <label for="senha2">Confirme a Senha:</label>
            <p id="erro-senha2" class="erro"></p>
        </div>
        <p id="msg-final"></p>
        <button class="btn btn-primary" id="cadastrar">Alterar Cliente</button>
        <a id="voltar" href="/admin/Clientes" class="btn btn-secondary">Voltar</a>
    </div>
</div>