<script src="/js/js/listagem.js" defer></script>
<script src="/js/js/listagem-header.js" defer></script>

<div class="container-fluid">
    <div class="d-flex align-items-center mb-4">
        <div class="dropdown me-3">
            <button class="btn btn-lg btn-link text-dark text-decoration-none dropdown-toggle p-0" type="button" id="titleDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 24px; font-weight: 600;">
                <span id="titleSelected"><% if(tipoListar == 1){ %>Produtos<% } else if(tipoListar == 2){ %>Insumos<% } else if(tipoListar == 3){ %>Serviços<% } else if(tipoListar == 4){ %>Equipamentos Agricolas<% } else if(tipoListar == 5){ %>Marcas<% } else if(tipoListar == 6){ %>Categorias<% } else { %>Listagem de Itens<% } %></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="titleDropdown">
                <li><a class="dropdown-item title-option" href="#" data-value="1">Produtos</a></li>
                <li><a class="dropdown-item title-option" href="#" data-value="2">Insumos</a></li>
                <li><a class="dropdown-item title-option" href="#" data-value="3">Serviços</a></li>
                <li><a class="dropdown-item title-option" href="#" data-value="4">Equipamentos Agricolas</a></li>
                <li><a class="dropdown-item title-option" href="#" data-value="5">Marcas</a></li>
                <li><a class="dropdown-item title-option" href="#" data-value="6">Categorias</a></li>
            </ul>
        </div>
        <a href="<% if(tipoListar == 1){ %>/admin/CadastrarProduto<% } else if(tipoListar == 2){ %>/admin/CadastrarProduto<% } else if(tipoListar == 3){ %>/admin/CadastrarServico<% } else if(tipoListar == 4){ %>/admin/CadastrarEqAgricola<% } else if(tipoListar == 5){ %>/admin/CadastrarMarca<% } else if(tipoListar == 6){ %>/admin/CadastrarCategoria<% } else { %>/admin<% } %>" class="btn btn-success ms-auto">Incluir cadastro</a>
    </div>
    <div class="form-floating mt-3 d-none">
        <select name="select" id="select" class="form-control">
            <option value="1" <%if(tipoListar == 1){%>selected<%}%>>Produtos</option>
            <option value="2" <%if(tipoListar == 2){%>selected<%}%>>Insumos</option>
            <option value="3" <%if(tipoListar == 3){%>selected<%}%>>Serviços</option>
            <option value="4" <%if(tipoListar == 4){%>selected<%}%>>Equipamentos Agricolas</option>
            <option value="5" <%if(tipoListar == 5){%>selected<%}%>>Marcas</option>
            <option value="6" <%if(tipoListar == 6){%>selected<%}%>>Categorias</option>
        </select>
        <label for="select">Tipo de Item</label>
    </div>

    

    <table class="table table-bordered mt-3" style="color: #000;" id="1"> <!--LISTA PRODUTOS-->
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade em Estoque</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Alterar/Excluir</th>
        </thead>
        <tbody>
            <%for(let i=0;i<listaProdutos.length;i++) {%>
                <tr>
                    <td><%=listaProdutos[i].id%></td>
                    <td><%=listaProdutos[i].nome%></td>
                    <td><%=listaProdutos[i].preco%>R$</td>
                    <td>A fazer</td>
                    <td><%=listaProdutos[i].descricao%></td>
                    <td><%=listaProdutos[i].categoria_nome%></td>
                    <td><%=listaProdutos[i].marca_nome%></td>
                    <td>
                        <a href="/admin/alterarItem/1/<%=listaProdutos[i].id%>" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <button data-id="<%=listaProdutos[i].id%>" data-tipo="1"  data-nome='<%=listaProdutos[i].nome%>' class="btn btn-danger btnExcluir"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>

    <table class="table table-bordered mt-3" style="color: #000;" id="2"> <!--LISTA INSUMOS-->
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade em Estoque</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Alterar/Excluir</th>
        </thead>
        <tbody>
            <%for(let i=0;i<listaInsumos.length;i++) {%>
                <tr>
                    <td><%=listaInsumos[i].id%></td>
                    <td><%=listaInsumos[i].nome%></td>
                    <td><%=listaInsumos[i].preco%>R$</td>
                    <td>A fazer</td>
                    <td><%=listaInsumos[i].descricao%></td>
                    <td><%=listaInsumos[i].categoria_nome%></td>
                    <td><%=listaInsumos[i].marca_nome%></td>
                    <td>
                        <a href="/admin/alterarItem/2/<%=listaInsumos[i].id%>" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <button data-id="<%=listaInsumos[i].id%>" data-tipo="1"  data-nome='<%=listaInsumos[i].nome%>' class="btn btn-danger btnExcluir"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>

    <table class="table table-bordered mt-3" style="color: #000;" id="3"> <!--LISTA Serviços-->
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th>Alterar/Excluir</th>
        </thead>
        <tbody>
            <%for(let i=0;i<listaServicos.length;i++) {%>
                <tr>
                    <td><%=listaServicos[i].id%></td>
                    <td><%=listaServicos[i].nome%></td>
                    <td><%=listaServicos[i].preco%>R$</td>
                    <td><%=listaServicos[i].descricao%></td>
                    <td>
                        <a href="/admin/alterarItem/3/<%=listaServicos[i].id%>" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <button data-id="<%=listaServicos[i].id%>" data-tipo="3"  data-nome='<%=listaServicos[i].nome%>' class="btn btn-danger btnExcluir"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>

    <table class="table table-bordered mt-3" style="color: #000;" id="4"> <!--LISTA EQUIP AGRICOLA-->
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Proprietário</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Alterar/Excluir</th>
        </thead>
        <tbody>
            <%for(let i=0;i<listaEqAg.length;i++) {%>
                <tr>
                    <td><%=listaEqAg[i].id%></td>
                    <td><%=listaEqAg[i].nome%></td>
                    <td><%=listaEqAg[i].pessoa_nome%></td>
                    <td><%=listaEqAg[i].descricao%></td>
                    <td><%=listaEqAg[i].categoria_nome%></td>
                    <td><%=listaEqAg[i].marca_nome%></td>
                    <td>
                        <a href="/admin/alterarItem/4/<%=listaEqAg[i].id%>" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <button data-id="<%=listaEqAg[i].id%>" data-tipo="4"  data-nome='<%=listaEqAg[i].nome%>' class="btn btn-danger btnExcluir"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>

    <table class="table table-bordered mt-3" style="color: #000;" id="5"> <!--LISTA MARCAS-->
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Alterar/Excluir</th>
        </thead>
        <tbody>
            <%for(let i=0;i<listaMarcas.length;i++) {%>
                <tr>
                    <td><%=listaMarcas[i].id%></td>
                    <td><%=listaMarcas[i].nome%></td>
                    <td>
                        <a href="/admin/alterarItem/5/<%=listaMarcas[i].id%>" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <button data-id="<%=listaMarcas[i].id%>" data-tipo="5"  data-nome='<%=listaMarcas[i].nome%>' class="btn btn-danger btnExcluir"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>

    <table class="table table-bordered mt-3" style="color: #000;" id="6"> <!--LISTA CATEGORIAS DE PRODUTOS-->
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Alterar/Excluir</th>
        </thead>
        <tbody>
            <%for(let i=0;i<listaCategorias.length;i++) {%>
                <tr>
                    <td><%=listaCategorias[i].id%></td>
                    <td><%=listaCategorias[i].nome%></td>
                    <td>
                        <a href="/admin/alterarItem/6/<%=listaCategorias[i].id%>" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                        <button data-id="<%=listaCategorias[i].id%>" data-tipo="6"  data-nome='<%=listaCategorias[i].nome%>' class="btn btn-danger btnExcluir"><i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            <%}%>
        </tbody>
    </table>
</div>